# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Environment variables
.env.local
.env.*.local

# Build outputs
dist/
build/
*.tsbuildinfo

# IDE
.vscode
.idea
*.swp
*.swo
*.swc
.DS_Store

# Prisma
/src/generated/prisma

# Logs
logs/
*.log
